%h1 Reply To The Review

/ = render 'form'

= form_for @review do |f|
  .field
    = f.label :reply
    = f.text_area :reply


  .actions.save
    = f.submit 'Save', :id => "save"

= link_to 'Back', admin_reviews_path
