%section.container
  %h1 Listing reviews

  %table
    %tr
      / %th Name
      / %th Review
      
    - @reviews.each do |review|
      %tr
        %td= review.title
      %tr
        %td= truncate(review.body, length: 35) 
        %td= link_to 'Show', review
        / %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = link_to 'New Review', new_review_path 
