%main.container
  %h1 Listing Reviews
  %aside#new-review
    = link_to 'New Review', new_review_path
  %div#reviews.well 
    - @reviews.each do |review|
      %p.rating= review.rating
      %h3.name= review.title
      %h5.city= review.city
      %h5.date= review.date
      %p.review= truncate(review.body, length: 100)
      %p.reply
        %a.logo
        = review.reply
      %aside
        %p= link_to 'Show', review
        - if can? :update, Review
          %p= link_to 'Reply', edit_review_path(review), :class => "logo"
          %p= link_to 'Destroy', review, :method => :delete, :data => {:confirm => 'Are you sure?'}
