%p
  %strong Name:
  = @review.title
%p
  %strong City:
  = @review.city
%p.inline
  %strong Rating:
  .rating= @review.rating
%p
  %strong Review:
  = @review.body
%p
  %strong Reply:
  = @review.reply

=# link_to 'Back to Reviews', reviews_path
